.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow-y: scroll;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    text-align: center;
    border: #f3f3f3;
}

.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr:hover{
    background-color: #b5bdba;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table th td

.table tbody td {
    text-align: center;
    padding: 10px 15px;
    border: 1px #f3f3f3 solid ;
    font-size: 14px;
    vertical-align: top;
}
tbody tr:nth-child(odd) {
    background: #f3f3f3
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}